body {
    width: 100%;
    margin: 0 auto;
    background-color: #00227D;
    color: #747DB1;
    font-family: "Helvetica Neue", "微软雅黑";
}

h1 {
    text-align:center;
    color: black;
}

.image-center {
    position: absolute;

    left: 50%;

    transform: translate(-50%, 0);    /* 50%为自身尺寸的一半 */
    -webkit-transform: translate(-50%, 0);    /* 50%为自身尺寸的一半 */
    -moz-transform: translate(-50%, 0);    /* 50%为自身尺寸的一半 */
}
.image-logo {
    position: absolute;
    width: 150px;
    height: 45px;

    top: 28.2%;
}
.navShell {
    width: 100%;
    height: 64px;
    color: black;
    background-color: white;
}
.navbar {
    width: 100%;
    height: 44px;
    line-height: 44px;
    position: absolute;
    top: 20px;
    color: black;
    text-align: center;
    font-size: 17px;
    font-family: "Helvetica Neue", "微软雅黑";
}

.login-email-div {
    width: 100%;
    height: 44px;
    margin-top: 20px;
}

.inputField {
    width: 100%;
    height: 38px;
    /*margin: 50pt;*/
    /*margin-top: 10px;*/
}

.button-div-start {
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 40px;
}

.loginButton-start {
    float: left;
    width: 42.6%;
    height: 50px;
    font-size: 18px;
    font-family: "SFUIDisplay-Medium", "微软雅黑";
    color: rgba(255,255,255,0.90);
    text-align: center;
    letter-spacing: 0;
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    background-color: rgba(255,255,255,0);
    border-color: rgba(255,255,255,0.90);
    margin-left: 20px;
}

.signupButton-start {
    float: right;
    width: 42.6%;
    background-color: #32D8B7;
    height: 50px;
    font-size: 18px;
    font-family: "SFUIDisplay-Medium", "微软雅黑";
    color: rgba(255,255,255,0.90);
    text-align: center;
    letter-spacing: 0;
    border-radius: 50px;
    border: 0px;
    margin-right: 20px;
}